.nav_container {
   
    position: absolute;
    top: 60px;
    width: 95%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
       
        color: rgb(40, 121, 214);
        font-size: 36px;
        text-decoration: none;
    }

    button {
        color: rgb(40, 121, 214);
        cursor: pointer;
        font-size: 36px;
        border: 0;
        background-color: transparent;
    }
}